---
import Section from './Section.astro';
---

<Section>
	<br />
	<p class="pb-2 pt-6 text-4xl font-bold">Darko's blog</p>
  <div class="text-sm">
    <p class="py-2">
    Hey there! 👋 Welcome to my little corner of the internet! I'm <a href="about/" class="underline hover:text-white hover:bg-orange-600">Darko</a>, and this is where I dump all the random tech stuff that gets me excited. From playing with old computers that make funny noises to breaking (and occasionally fixing) things in the cloud, I'm all about the joy of tinkering. 
    </p>
    <p class="py-2">
    <i>Fair warning</i>: I tend to get way too enthusiastic about mechanical keyboards, terminal customizations, Linux and finding ways to release the magic smoke from old computers. Sometimes I'll share useful tips I've learned the hard way, other times I'll just geek out about whatever shiny new (or hilariously old)
    tech has caught my attention.     
    </p>
    <p class="py-2">So grab a beverage of choice ☕, make yourself comfortable, and let's have some fun exploring this weird and wonderful world of technology together!
    </p>
</Section>
